.footer {
    background-color: var(--color-text-primary);
    /* Dark footer */
    color: var(--color-text-secondary);
    padding: var(--spacing-lg) 0;
    margin-top: auto;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    font-size: 0.875rem;
}

.footer .copyright {
    color: var(--color-white);
}